In [40]:
import pandas as pd
import random
import string

In [7]:
flights = pd.read_csv('data/flights.csv').iloc[:, 1:]
customers = pd.read_csv('data/united_customers_synthetic.csv')

In [27]:
flight_numbers = flights['flight.iata']
customer_ids = customers['customer_id']

In [31]:
flights[flights['flight.iata'] == 'UA']

,flight_date,flight_status,aircraft,live,departure.airport,departure.timezone,departure.iata,departure.icao,departure.terminal,departure.gate,...,aircraft.icao24,live.updated,live.latitude,live.longitude,live.altitude,live.direction,live.speed_horizontal,live.speed_vertical,live.is_ground,empty_seats
72,2025-06-20,scheduled,NaN,NaN,Saltillo,America/Monterrey,SLW,MMIO,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6

In [58]:
# Randomly pair customers with bookings
bookings = []
for id in customer_ids:
    flight = random.choices(list(flight_numbers), k=1)[0]
    pair = [id, flight]
    bookings.append(pair)
df_bookings = pd.DataFrame(bookings, columns = ['customer_id', 'flight.iata'])

# Randomly generate number of people in a party
n_party = [random.randint(1, 4) for _ in range(len(df_bookings))]
df_n_party = pd.DataFrame(n_party, columns = ['n_party'])

# Randomly generate confirmation codes
characters = string.ascii_uppercase + string.digits
codes = set()
while len(codes) < len(bookings):
    random_string = ''.join(random.choice(characters) for _ in range(5))
    codes.add(random_string)
df_codes = pd.DataFrame(codes, columns = ['conf_code'])

# Combine columns
df = pd.concat([df_bookings, df_n_party, df_codes], axis=1)

In [59]:
df.head()

  customer_id flight.iata  n_party conf_code
0   CUST00000      UA6192        4     0O0U2
1   CUST00001      UA1045        4     WTORA
2   CUST00002      UA1645        2     692M1
3   CUST00003      UA7826        4     UB4XS
4   CUST00004      UA9616        2     CSHWS

In [62]:
df.to_csv('data/bookings.csv')