In [2]:
import requests
import pandas as pd
import numpy as np

In [ ]:
api_key = ''

In [ ]:
url = 'https://api.aviationstack.com/v1/airlines'
params = {
    'access_key':api_key
}

#api_result = requests.get(url, params)

In [8]:
api_response = api_result.json()

In [13]:
pd.DataFrame(api_response['data'])

,id,fleet_average_age,airline_id,callsign,hub_code,iata_code,icao_code,country_iso2,date_founded,iata_prefix_accounting,airline_name,country_name,fleet_size,status,type
0,5136647,10.9,1,AMERICAN,DFW,AA,AAL,US,1934,1,American Airlines,United States,963,active,scheduled
1,5136648,17,2,DELTA,ATL,DL,DAL,US,1928,6,Delta Air Lines,United States,823,active,"scheduled,division"
2,5136649,13.8,3,UNITED,ORD,UA,UAL,US,1931,16,United Airlines,United States,715,active,"scheduled,division"
3,5136650,12.3,4,SOUTHWEST,DAL,WN,SWA,UM,1967,526,Southwest Airlines Co.,United States Minor Outlying Islands,712,active,scheduled
4,5136651,6.9,5,CHINA SOUTHERN,CAN,CZ,CSN,CN,2004,784,China Southern Airlines,China,498,active,scheduled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5136742,4.7,96,PHILIPPINE,MNL,PR,PAL,PH,1941,79,Philippine Airlines,Philippines,59,active,scheduled
96,5136743,3.5,97,AIR SPRING,SHA,9C,CQH,CN,2005,89,Spring Airlines Limited Corporation,China,58,active,scheduled
97,5136744,7.7,98,FRONTIER FLIGHT,DEN,F9,FFT,UM,1994,422,"Frontier Airlines, Inc.",United States Minor Outlying Islands,58,active,scheduled
98,5136745,5,99,CEBU AIR,MNL,5J,CEB,PH,1996,203,Cebu Pacific Air,Philippines,57,active,scheduled
99,5136746,3.7,100,NOR SHUTTLE,OSL,DY,NAX,NO,1993,328,Norwegian Air Shuttle A.S.,Norway,57,active,scheduled

In [16]:
url_flights = 'https://api.aviationstack.com/v1/flights'
params_flights = {
    'access_key':api_key,
    'airline_iata':'UA'
}

api_result_flights = requests.get(url_flights, params_flights)

In [23]:
flights = []
for i in range(11):
    print(i*100)
    params_flights = {
        'access_key':api_key,
        'airline_iata':'UA'
    }

    api_result_flights = requests.get(url_flights, params_flights)
    api_response_flights = api_result_flights.json()
    flights.append(api_response_flights['data'])

0
100
200
300
400
500
600
700
800
900
1000

In [26]:
len(flights)

11

In [30]:
pd.DataFrame(flights[0])['departure'][1]

{'airport': 'Nanjing Lukou International Airport',
 'timezone': 'Asia/Shanghai',
 'iata': 'NKG',
 'icao': 'ZSNJ',
 'terminal': '1',
 'gate': 'G,H',
 'delay': None,
 'scheduled': '2025-06-21T08:45:00+00:00',
 'estimated': '2025-06-21T08:45:00+00:00',
 'actual': None,
 'estimated_runway': None,
 'actual_runway': None}

In [20]:
api_response_flights = api_result_flights.json()
pd.DataFrame(api_response_flights['data'])

,flight_date,flight_status,departure,arrival,airline,flight,aircraft,live
0,2025-06-21,scheduled,"{'airport': 'Dunedin International', 'timezone...","{'airport': 'Auckland International', 'timezon...","{'name': 'United Airlines', 'iata': 'UA', 'ica...","{'number': '6761', 'iata': 'UA6761', 'icao': '...",None,None
1,2025-06-21,scheduled,{'airport': 'Nanjing Lukou International Airpo...,"{'airport': 'Beijing Capital International', '...","{'name': 'United Airlines', 'iata': 'UA', 'ica...","{'number': '7566', 'iata': 'UA7566', 'icao': '...",None,None
2,2025-06-21,cancelled,"{'airport': 'Dubai', 'timezone': 'Asia/Dubai',...","{'airport': 'Bahrain International', 'timezone...","{'name': 'United Airlines', 'iata': 'UA', 'ica...","{'number': '6532', 'iata': 'UA6532', 'icao': '...",None,None
3,2025-06-21,scheduled,"{'airport': 'Canberra', 'timezone': 'Australia...","{'airport': 'Melbourne - Tullamarine Airport',...","{'name': 'United Airlines', 'iata': 'UA', 'ica...","{'number': '7398', 'iata': 'UA7398', 'icao': '...",None,None
4,2025-06-21,scheduled,"{'airport': 'Canberra', 'timezone': 'Australia...","{'airport': 'Sydney Kingsford Smith Airport', ...","{'name': 'United Airlines', 'iata': 'UA', 'ica...","{'number': '7489', 'iata': 'UA7489', 'icao': '...",None,None
...,...,...,...,...,...,...,...,...
95,2025-06-20,scheduled,"{'airport': 'Cyril E King Airport', 'timezone'...","{'airport': 'Beef Island', 'timezone': 'Americ...","{'name': 'United Airlines', 'iata': 'UA', 'ica...","{'number': '6407', 'iata': 'UA6407', 'icao': '...",None,None
96,2025-06-20,scheduled,"{'airport': 'Spokane International', 'timezone...","{'airport': 'San Francisco International', 'ti...","{'name': 'United Airlines', 'iata': 'UA', 'ica...","{'number': '5217', 'iata': 'UA5217', 'icao': '...",None,None
97,2025-06-20,scheduled,"{'airport': 'Missoula International', 'timezon...","{'airport': 'San Francisco International', 'ti...","{'name': 'United Airlines', 'iata': 'UA', 'ica...","{'number': '5468', 'iata': 'UA5468', 'icao': '...",None,None
98,2025-06-20,scheduled,"{'airport': 'San Diego International Airport',...","{'airport': 'San Francisco International', 'ti...","{'name': 'United Airlines', 'iata': 'UA', 'ica...","{'number': '2117', 'iata': 'UA2117', 'icao': '...",None,None
99,2025-06-20,scheduled,"{'airport': 'Los Angeles International', 'time...","{'airport': 'San Francisco International', 'ti...","{'name': 'United Airlines', 'iata': 'UA', 'ica...","{'number': '2019', 'iata': 'UA2019', 'icao': '...",None,None