In [8]:
import pandas as pd
import random
import numpy as np

In [6]:
airport_list = pd.read_csv('data/flights.csv')['departure_iata'].unique()
hotels_list = ['AC Hotels by Marriott', 'aloft', 'Autograph Collection Hotels', 'Apartments by Marriott Bonvoy', 'City Express Hotels by Marriott Bonvoy', 'Courtyard by Marriott', 'Delta Hotels', 'Design Hotels', 'EDITION', 'element by Westin', 'Fairfield Inn by Marriott', 'Four Points by Sheraton', 'Four Points Express by Sheraton', 'Gaylord Hotels', 'JW Marriott Hotels & Resorts', 'Le Meridien', 'The Luxury Collection', 'Marriott Hotels & Resorts', 'MGM Collection with Marriott Bonvoy', 'Moxy Hotels', 'Protea Hotels', 'Renaissance Hotels', 'Residence Inn by Marriott', 'The Ritz-Carlton', 'Sheraton Hotels & Resorts', 'SpringHill Suites by Marriott', 'St. Regis Hotels & Resorts', 'TownePlace Suites by Marriott', 'Tribute Portfolio', 'W Hotels', 'Westin Hotels & Resorts', 'AmericInn® by Wyndham', 'Baymont® by Wyndham', 'Days Inn® by Wyndham', 'Dazzler® by Wyndham', 'Dolce Hotels and Resorts® by Wyndham', 'Esplendor® Boutique Hotels by Wyndham', 'Hawthorn Suites® by Wyndham', 'Howard Johnson® by Wyndham', 'La Quinta® by Wyndham', 'Microtel® by Wyndham', 'Ramada® by Wyndham', 'Super 8® by Wyndham', 'Trademark Collection® by Wyndham', 'Travelodge® by Wyndham', 'Wingate® by Wyndham', 'Wyndham Garden®', 'Wyndham Grand®', 'Wyndham®', 'Atwell Suites', 'Avid Hotels', 'Candlewood Suites', 'Crowne Plaza Hotels & Resorts', 'Even', 'Holiday Inn Club Vacations', 'Holiday Inn Express', 'Holiday Inn Hotels & Resorts', 'Hotel Indigo', 'Hualuxe Hotels & Resorts', 'InterContinental Hotels & Resorts', 'Kimpton Hotels & Restaurants', 'Regent', 'Six Senses', 'Staybridge Suites', 'Vignette Collection', 'VOCO', 'Andaz (Hyatt)', 'Grand Hyatt', 'Hyatt Centric', 'Hyatt Hotels & Resorts', 'Hyatt House', 'Hyatt Place', 'Hyatt Regency', 'Hyatt Zilara', 'Hyatt Ziva', 'Park Hyatt Hotels', 'Unbound Collection']
hotels_list = [item.replace('®','') for item in hotels_list]

In [20]:
hotels = []
for airport in airport_list:
    n_hotels = random.randint(6, 20)
    for i in range(n_hotels):
        hotel = random.choice(hotels_list)
        stars = random.randint(1, 5)
        rooms_available = random.randint(0, 20)
        distance = random.gauss(4, .5)
        distance_pos = np.where(distance < 0, distance*-1, distance)
        hotels.append([airport, hotel, stars, distance, rooms_available])

In [24]:
df = pd.DataFrame(hotels, columns=['airport_iata', 'hotel_name', 'stars', 'distance', 'rooms_available'])
df.head()

,airport_iata,hotel_name,stars,distance,rooms_available
0,SFO,Trademark Collection by Wyndham,2,4.174940,2
1,SFO,Ramada by Wyndham,5,3.526426,18
2,SFO,Microtel by Wyndham,3,3.525406,2
3,SFO,Residence Inn by Marriott,3,4.349559,4
4,SFO,Gaylord Hotels,2,4.009907,7

In [26]:
df.to_csv('data/hotels.csv')