In [40]:
import pandas as pd
import random
import string

In [63]:
flights = pd.read_csv('data/flights.csv').iloc[:, 1:]
customers = pd.read_csv('data/united_customers_synthetic.csv')

In [65]:
flight_numbers = flights['flight_iata']
customer_ids = customers['customer_id']

In [68]:
# Randomly pair customers with bookings
bookings = []
for id in customer_ids:
    flight = random.choices(list(flight_numbers), k=1)[0]
    pair = [id, flight]
    bookings.append(pair)
df_bookings = pd.DataFrame(bookings, columns = ['customer_id', 'flight.iata'])

# Randomly generate number of people in a party
n_party = [random.randint(1, 4) for _ in range(len(df_bookings))]
df_n_party = pd.DataFrame(n_party, columns = ['n_party'])

# Randomly generate confirmation codes
characters = string.ascii_uppercase + string.digits
codes = set()
while len(codes) < len(bookings):
    random_string = ''.join(random.choice(characters) for _ in range(5))
    codes.add(random_string)
df_codes = pd.DataFrame(codes, columns = ['conf_code'])

# Combine columns
df = pd.concat([df_bookings, df_n_party, df_codes], axis=1)

In [69]:
df.head()

  customer_id flight.iata  n_party conf_code
0   CUST00000      UA5392        1     2Q2Z3
1   CUST00001      UA1337        3     L8M2A
2   CUST00002      UA4599        2     ZQB5R
3   CUST00003       UA663        2     ZCNFD
4   CUST00004      UA2426        3     AZ5JK

In [ ]:
df.to_csv('../data/bookings.csv')